<div class= "container">
  <div class="row mt-5">
    <div class="col-md-3">
      <p class="text-left h4">calendar_room</p>
      <%= form_with model: @carender ,url:calendars_path, local:true do |f| %>
        <%= f.text_field :name ,class: "form_control my-2" ,placeholder: "新しいdiary名" %>
        <%= f.label :color ,"テーマカラー" %>
        <%= f.color_field:color ,placeholder: "新しいdiaryの作成"%><br>
        <%= f.submit '作成する' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= month_calendar(events: @blogs) do |date, blogs| %>
        <%= date.day %>
        <% blogs.each do |blog| %>
          <div><%= link_to blog.title,diary_blog_path(blog) %></div>
        <% end %>
      <% end %>
    </div>
  <%= render partial: 'diary_form', locals:{blog: @blog} %>
  </div>
</div>
